@import url('../components/header.css');
@import url('../components/footer.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;

}

.container-header{
padding: 0;
  
}

.header-admin {
  padding: .75rem 1rem;
  border: 1px solid var(--primary-blue);

  font-weight: 600;
  font-size: .875rem;
  text-decoration: none;

  color: var(--primary-blue);
}
.header-admin:hover{
  background: #5595E9;
color: #fff;
transition: 0.4s all ease-out;
cursor: pointer;
}

.container-addProduct {
  display: flex;
  flex-direction: column;

  padding: 1rem;
  background-color: var(--input-color);
}

.text-form-desc{
  margin-bottom: 7px;
}
.addProductDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  background-color: var(--input-color);
  max-width: 1200px;
}


.addProduct-title {
  font-weight: 700;
  font-size: 1.375rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.addProduct-input {
  position: relative;
  width: 100%;
  height: 56px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1.95px 2.6px;
  padding: 0px 10px 0px 10px;
  margin-bottom: 20px;

  border-radius: 4px;
  outline: 0;
}


.addProduct-label {
  font-weight: 400;
  font-size: .75rem;
}

.url,
.section,
.name,
.price {
  position: absolute;
  transform: translate(15%, 30%);
}

.section {
  top: 28%;
}

.name {
  top: 38%;
}

.price {
  top: 48%;
}

.description {
  height: 50%;
  font-family: var(--primary-font);
  font-size: 1rem;
  resize: none;
  text-align: justify;
  padding: 20px 10px;

  border-radius: 4px;
  outline: 0;
}

.addProduct-button {
  width: 100%;
  height: 51px;
  padding: 12px 1rem;
  border: none;

  font-weight: 600;
  font-size: 1rem;

  align-items: center;
  border-radius: 4px;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  
}

.addProduct-button:hover{
  background: #5595E9;
  color: #fff;
  transition: 0.4s all ease-out;
  cursor: pointer;
}


.container-success {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 3rem 1rem;
}

.success-title {
  margin-bottom: 2rem;

  text-align: center;
}

.success-link {
  width: 109px;
  height: 40px;
  padding: 12px 1rem;
  border: none;

  font-weight: 600;
  font-size: .85rem;
  text-align: center;
  text-decoration: none;

  background-color: var(--primary-blue);
  color: var(--primary-white);
}

@media screen and (max-width: 768px) {
  .header-admin {
    order: 3;
  }
}

@media screen and (max-width: 1440px) {

  .container-addProduct {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
  }

  .url,
  .section,
  .name,
  .price {
    transform: translate(15%, 120%);
  }

  .section {
    transform: translate(5%, 120%);
  }
}